.uchart-login{
    min-height: 100%;
    width: 100%;
    overflow: auto;
    background: -moz-linear-gradient(-185deg, #4facfe, #00f2fe);
	background: -webkit-linear-gradient(-185deg, #4facfe, #00f2fe);
	background: -webkit-gradient(linear,-185deg,from(#4facfe),to(#00f2fe));
	background: -webkit-linear-gradient(-185deg, #4facfe, #00f2fe);
	background: -o-linear-gradient(-185deg, #4facfe, #00f2fe);
	background: linear-gradient(-185deg, #4facfe, #00f2fe);
    background-color: #4facfe;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.uchart-login::before{
    position: fixed;
    width: 20%;
    height: 20%;
    left: 0px;
    top: 0px;
    content: "";
    background: url('../img/login_left_top.png') no-repeat left top;
    background-size: auto 100%;
    z-index: 2;
}
.uchart-login::after{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 25%;
    content: "";
    background: url('../img/login_right_bottom.png') no-repeat right bottom;
    background-size: auto 100%;
    z-index: 2;
}
.uchat-content{
    min-width: 900px;
    height: 450px;
    background: white;
    position: relative;
    z-index: 3;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px  0px 20px rgba(55, 156, 245, 0.3),0px  10px 40px rgba(40, 142, 232, 0.3)
}
.uchat-content::after{
    position: absolute;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 72px;
    left: 0px;
    right: 0px;
    bottom: -72px;
    content: "© 2019 Uchat. All rights reserved.";
}
.uchat-content .swiper_box{
    width: 350px;
    overflow: hidden;
    height: 100%;
}